<!DOCTYPE html>
<html xmlns:py="http://genshi.edgewall.org/">
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<link href="/css/all.css" rel="stylesheet" type="text/css" />

	<script src="/js/jquery.js"> </script>

    <script src="/js/all.js"> </script>

</head>

<body>

<?python

x = dir(itf)
n_conds = len(itf.condition_list)
?>

<table id="conditions">

    <tr>
        <th>Attribute name</th>
        <th>Condition type</th>
        <th>Condition argument</th>
    </tr>

    <py:if test="n_conds > 0">
        <py:for each="c in itf.condition_list">
    
            <tr>            
                <td>${c.attribute}</td>
                <td>${c.condition_type}</td>
                <td>${c.condition_argument}</td>
            </tr>
    
        </py:for>
    </py:if>

</table>
 
<input type="button" value="Add condition" onclick="generate_form_add_condition()" />
<input type="button" value="Refresh request" onclick="refresh_request()" />

</body>
</html>