<!DOCTYPE html>
<html xmlns:py="http://genshi.edgewall.org/">
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link href="/css/annonce_list.css" rel="stylesheet" type="text/css" />

	<link href="/css/all.css" rel="stylesheet" type="text/css" />

	<script src="/js/jquery.js"> </script>

    <script src="/js/all.js"> </script>

</head>

<body>

<py:for each="jj, ff in enumerate(itf.filter_list)">

    <div class="div_filter" id=${"div_filter_" + ff.id}>

        <?python
        n_conds = len(ff.condition_list)

        if ff.nb_filtered_computed:
            nb_filtered_l = ['%d'%x for x in ff.nb_filtered_l]
        else:
            nb_filtered_l = [''] * n_conds
        ?>

        <div class="div_filter_title_bar" onclick="change_filter_visibility('${ff.id}')">
            <span class="plus_ou_moins">
                <py:if test="ff.detail_is_visible">
                    -
                </py:if>
                <py:if test="not ff.detail_is_visible">
                    +
                </py:if>
            </span>
            <h2>Filter nb ${jj} (${ff.nb_filtered_total})</h2>
        </div>

        <div class="div_filter_internal">

            <table class="table_conditions">

                <tr>
                    <th>Attribute name</th>
                    <th>Condition type</th>
                    <th>Condition argument</th>
                    <th>Nb filtered</th>
                </tr>

                <py:if test="n_conds > 0">
                    <py:for each="ii, c in enumerate(ff.condition_list)">

                        <tr>
                            <td>${c.attribute}</td>
                            <td>${c.condition_type}</td>
                            <td>${c.condition_argument}</td>
                            <td>${nb_filtered[ii]}</td>    
                        </tr>
                    </py:for>
                </py:if>

            </table>

            <input type="button" class="simple_button_right" value="Add condition" onclick="generate_form_add_condition()" />
        </div>

    </div>

</py:for>

<input type="button" class="simple_button_left" value="Add Filter" onclick="generate_form_add_filter()" />

</body>
</html>