 
div#ecran_gris 
{
	z-index : 1;
	position : absolute;
	background-color: rgba(150, 150, 150, 0.5);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}

div#add_condition 
{
	top : 30%;
	left: 30%;
	background-color: white;
	z-index: 2;
	position: fixed;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 20px;
	display: none;
}

input.standard_button 
{
	float: right;
}

li
{
	margin-top: 10px;
	margin-bottom: 10px;
}

table#conditions
{
	border-collapse: collapse;
	margin-bottom: 15px;
}

table#conditions td, table#conditions th
{
	border: 1px solid black;
	padding: 5px;
	text-align: center;
}